<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand mr-5" routerLink="/user/dashboard">SCORECARD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="nav-spacer"></div>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/dashboard" routerLinkActive>Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./rating" routerLinkActive>Ratings</a>
      </li>
    </ul>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-success" id="userDrp" ngbDropdownToggle>Ankur Nair</button>
      <div ngbDropdownMenu aria-labelledby="userDrp">
        <button class="dropdown-item">My Profile</button>
        <a class="dropdown-item" routerLink="/login">Logout</a>
      </div>
    </div>
  </div>
</nav>